<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app will not connect to devices on your network, it only detects the connectivity with your local gateway.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>The purpose for accessing the microphone, such as for a call or live interactive streaming.</string>
	<key>NSCameraUsageDescription</key>
	<string>To access the camera, such as for a call or live interactive streaming.
To access the camera, such as for a call or live interactive streaming.
</string>
	<key>CFBundleIdentifier</key>
	<string>io.agora.RteQuickstart</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
